/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

h1 {
	margin-bottom: 1em;
}

p {
	margin: 1em 0;
}

a {
	color: #00a;
}

a:hover {
	color: black;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
	list-style-type: none;
	margin-bottom: 2em;
}

ul.posts li {
	line-height: 1.75em;
}

ul.posts span {
	color: #aaa;
	font-family: monospace;
	font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
	font-size: 11pt;
	text-align: justify;
	width: 60em;
	margin: 3em auto;
	line-height: 1.5em;
}

.title {
	color: #a00;
	font-weight: bold;
	margin-bottom: 2em;
}

.site .title a {
	color: #a00;
	text-decoration: none;
}

.site .title a:hover {
	color: black;
}

.site .title a.extra {
	color: #aaa;
	margin-left: 1em;
	font-variant: small-caps;
}

.site .title a.extra:hover {
	color: black;
}

.site .footer {
	font-size: 80%;
	color: #666;
	border-top: 4px solid #eee;
	margin-top: 2em;
	overflow: hidden;
}

.site .footer .info {
	float: left;
}

.site .footer .contact,
.site .footer .link {
	float: right;
	margin-left: 5em;
}

.site .footer .link a {
	color: #8085C1;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post p.meta {
	color: #aaa;
	margin: 0;
}

#post ul,
#post ol {
	margin-left: 1.35em;
}

#post pre {
	border: 1px solid #ddd;
	padding: 0 0.5em;
	overflow: auto;
}

#post code {
	font-size: 85%;
	color: #444;
}

#related {
	margin-top: 2em;
}

#related h2 {
	margin-bottom: 1em;
}
