* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Droid Serif", "Georgia", serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
    color: #6188f2;
}

a:hover {
    color: #f29161;
}

#container {
    width: 1000px;
    margin: 30px auto;
}

#header {
    padding-bottom: 20px;
    border-bottom: 3px double #eee;
}

#header h1 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 5px;
}

#header h1 a {
    text-decoration: none;
    color: #42588c;
}

#header h2 {
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
}

div.post {
    float: left;
    width: 800px;
    position: relative;
    margin: 20px 0;
}

div.post h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 10px;
}

div.post h1 a {
    color: #42588c;
}

div.post h2, h3 {
    font-size: 1em;
    font-weight: bold;
}

div.post pre, div.post p {
    margin: 1em 0;
    line-height: 1.5em;
}

div.post p {
    text-align: justify;
}

div.post span.hang {
    font-family: sans-serif;
    background-color: #42588c;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    left: -120px;
    top: 3px;
    width: 100px;
    text-align: center;
    padding: 3px;
    font-size: 0.9em;
}

div.post p.meta {
    font-style: italic;
}

div.post pre {
    white-space: pre-wrap;
}

div.post code {
    font-family: "Monaco", "Consolas", monospace;
    font-size: 0.9em;
}

div.post p code, div.post pre {
    padding: 3px;
    border-radius: 5px;
    background-color: #eee;
}

div.post img {
    padding: 3px;
    border: 1px solid #ddd;
}

#post_neighbours {
    padding: 20px 0;
    margin: 20px 0;
    height: 20px;
    border-bottom: 3px double #eee;
    border-top: 3px double #eee;
}

#post_neighbours div.left {
    float: left;
}

#post_neighbours div.right {
    float: right;
}

#disqus_thread {
    clear: both;
}

#side {
    float: right;
    width: 160px;
    margin: 20px 0;
}

#side h1 {
    font-size: 1.5em;
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 10px;
}

#side ul {
    list-style: none;
    margin: 10px 0;
}

#side ul li {
    line-height: 1.8em;
}

#pagination, #footer {
    clear: both;
    padding: 20px 0;
    border-top: 3px double #eee;
}

#pagination {
    text-align: center;
}

#pagination ul {
    list-style: none;
}

#pagination ul li {
    display: inline;
    padding: 0 5px;
}

#pagination li.current-page {
    background-color: #42588c;
    color: #fff;
    border-radius: 5px;
}

#footer {
    text-align: right;
}

#footer p {
    line-height: 1.8em;
}
