<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<link href="/atom.xml" rel="alternate" title="Johnny Huang" type="application/atom+xml">
		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/css/screen.css">
	</head>
	<body>
		<div class="site">
			<div class="title">
				<a href="/">Johnny Huang</a>
				<a class="extra" href="/">Home</a>
				<a class="extra" href="/resume">Resume</a>
			</div>
			{{ content }}
			<div class="footer">
				<div class="contact">
					<p>
					Johnny Huang<br />
					hzqtc1229@gmail.com
					</p>
				</div>
				<div class="contact">
					<p>
					<a href="http://github.com/hzqtc/">github.com/hzqtc</a><br />
					<a href="http://twitter.com/hzqtc/">twitter.com/hzqtc</a><br />
					<a href="http://johnny-huang.appspot.com/">johnny-huang.appspot.com</a>
					</p>
				</div>
				<div class="rss">
					<a href="/atom.xml"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>
				</div>
			</div>
		</div>
	</body>
</html>
