<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Johnny Huang &raquo; {{ page.title }}</title>
        <link href="/atom.xml" rel="alternate" title="Johnny Huang" type="application/atom+xml">
        <link href="/static/common.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="/static/highlight.pack.js"></script>
        <link href="/static/highlight.css" rel="stylesheet">
        <script>hljs.initHighlightingOnLoad();</script>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-29543489-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1><a href="/">Johnny Huang</a></h1>
                <h2>Whatever scares you or excites you, go do it!</h2>
            </div>
            <div id="main">
                <div id="side">
                    <h1>links</h1>
                    <ul>
                        <li><a href="/atom.xml"><i class="fa fa-rss"></i>Atom Feed</a></li>
                        <li><a href="http://github.com/hzqtc/"><i class="fa fa-github-alt"></i>Github</a></li>
                    </ul>
                    <h1>archives</h1>
                    <ul>
                        {% assign date = '' %}
                        {% assign count = 0 %}
                        {% for post in site.posts %}

                        {% capture ndate %}{{ post.date | date: '%b %Y' }}{% endcapture %}
                        {% if date == '' %}
                        {% assign date = ndate %}
                        {% endif %}

                        {% if date != ndate %}
                        <li><a href="/archives.html#archive_{{ date | date: '%Y_%m' }}"><i class="fa fa-archive"></i>{{ date }} ({{ count }})</a></li>
                        {% assign date = ndate %}
                        {% assign count = 1 %}
                        {% else %}
                        {% capture count %}{{ count | plus:'1' }}{% endcapture %}
                        {% endif %}

                        {% if forloop.last %}
                        <li><a href="/archives.html#archive_{{ date | date: '%Y_%m' }}"><i class="fa fa-archive"></i>{{ date }} ({{ count }})</a></li>
                        {% endif %}

                        {% endfor %}
                    </ul>
                    <h1>categories</h1>
                    <ul>
                        {% for category in site.categories %}
                        <li><a href="/categories.html#category_{{ category[0] }}"><i class="fa fa-folder"></i>{{ category[0] }} ({{ category[1].size }})</a></li>
                        {% endfor %}
                    </ul>
                    <h1>tags</h1>
                    <ul>
                        {% for tag in site.tags %}
                        <li><a href="/tags.html#tag_{{ tag[0] }}"><i class="fa fa-tag"></i>{{ tag[0] }} ({{ tag[1].size }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {{ content }}
            </div>
            <div id="footer">
                <p>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>.</p>
                <p>Designed and provided by hzqtc (Johnny Huang).</p>
            </div>
        </div>
    </body>
</html>
