---
layout: default
---

<div class="post">
    <h1>{{ page.title }}</h1>
    <span class="date">{{ page.date | date_to_string }}</span>
    <p class="meta">
    Category: <a href="/categories.html#category_{{ page.category }}">{{ page.category }}</a>. Tags: 
    {% for tag in page.tags %}
    <a href="/tags.html#tag_{{ tag }}">{{ tag }}</a>{% if forloop.last%}.{% else %},{% endif %}
    {% endfor %}
    </p>
    {{ content }}
    <div id="disqus_thread"></div>
    <script src="http://hzqtc.disqus.com/embed.js"></script>
</div>

