---
layout: default
---

<div class="post">
    <h1>{{ page.title }}</h1>
    <span class="hang">{{ page.date | date_to_string }}</span>
    <p class="meta">
    Category: <a href="/categories.html#category_{{ page.category }}">{{ page.category }}</a>. Tags: 
    {% for tag in page.tags %}
    <a href="/tags.html#tag_{{ tag }}">{{ tag }}</a>{% if forloop.last%}.{% else %},{% endif %}
    {% endfor %}
    </p>

    {{ content }}

    <div id="post_neighbours">
        {% if page.previous %}
        <div class="left"><a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a></div>
        {% endif %}
        {% if page.next %}
        <div class="right"><a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a></div>
        {% endif %}
    </div>

    <div id="disqus_thread"></div>
    <script src="https://hzqtc.disqus.com/embed.js"></script>
</div>
